.location-section{
  background-color: var(--color-lightpink);
  height: 90vh;
  box-sizing: border-box;
  color: var(--text-grey);

  display: flex;
  justify-content: center;
  align-items: center;

  .container{
    width: 100%;
  }


  h2{
    text-transform: uppercase;
    margin: 0;
  }

  p{
    color: var(--text-grey);
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
  }
}