@use '../../mixin.scss' as *;
.question-card-wrapper{
  width: 100%;
  background-color: var(--color-pink);
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
  text-align: left;

  @include respond(lg){
    padding: 1rem;
  }

  .question-title-wrapper{
    
    color: #FFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
    width: 100%;

    h3{
      margin: 0.4rem 0;
      flex: 1;
      font-size: 1.3rem;

      @include respond(sm){
        font-size: 1.1rem;
      }
    }

    svg{

      cursor: pointer;
      transition: all 0.2s ease-in-out;
      border-radius: 50%;

      &:hover{
        background-color: #FFF;
        color: var(--color-pink);
      }

      @include respond(md){
        align-self: center;
      }
    }

    
  }

  p{
    font-weight: 500;
    color: var(--text-grey);
  }
}